@charset "UTF-8";
/*import*/
* {
  margin: 0%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

/*tamaño*/
/*color*/
/*encabezados*/
/*backgrounds*/
/*Estilos generales*/
h1 {
  color: rgb(33, 62, 86);
  font-size: 1.4em;
}
h1:hover {
  color: #3e697b;
  text-decoration: underline rgb(100, 127, 137);
}

h2 {
  color: rgb(63, 78, 90);
  font-size: 1.2em;
}
h2:hover {
  color: #3e697b;
  text-decoration: underline rgb(137, 153, 159);
}

nav {
  font-size: 1.2em;
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav a:hover {
  color: #345157;
  border-bottom: rgb(225, 232, 239) 1px solid;
}
nav ul {
  background-color: rgb(171, 210, 219);
  display: flex;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(49, 79, 104);
}

.menu-desplegable, .btn-group, .btn, .btn-secondary, .dropdown-toggle {
  font-size: 1em;
  background-color: rgb(87, 144, 157);
  border: 0.5px solid;
  border-radius: 1px;
  border-color: rgb(101, 160, 160);
}

.dropdown-item {
  font-size: 0.9em;
  margin: 0px 5px 5px 0px;
  background-color: #eaf6f7;
  padding: 0px;
}
.dropdown-item .a .b {
  align-items: center;
}

.home-text {
  margin: 0px 20px 10px 50px;
  padding: 50px;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  color: rgba(33, 39, 61, 0.96);
}

.encabezado-otros {
  background-image: url(../imagenes/portadaface.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  opacity: 0.7;
}

.home {
  display: flex;
  background-image: linear-gradient(to bottom, rgb(201, 225, 233), rgb(255, 255, 255));
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.home-cus, .home-viajes, .home-emmac, .home-profesorados, .home-torneos {
  background-image: linear-gradient(to bottom, rgb(201, 225, 233), rgb(255, 255, 255));
  display: flex;
  margin-top: -20px;
}

.social-bar {
  position: fixed;
  right: 0;
  top: 380px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: index 1;
}
.social-bar .icon {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: all 0.8s;
}
.social-bar .icon-facebook2 {
  background-color: #097DE9;
  border-radius: 8px 0 0 0;
}
.social-bar .icon-instagram {
  background-color: #E31234;
}
.social-bar .icon-whatsapp {
  background-color: #148E0B;
  border-radius: 0 0 0 10px;
}
.social-bar .icon:hover {
  padding-right: 3rem;
  border-radius: 10px 0 0 10px;
}

.volver .volver1 {
  color: rgb(33, 62, 86);
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 7px;
}
.volver .volver1:hover {
  font-size: 1.1em;
  color: #14778d;
}

.footer {
  background-color: rgb(171, 210, 219);
  display: flex;
  padding: 15px;
}
.footer .container, .footer .piedepagina {
  margin-top: 20px;
  color: rgb(63, 78, 90);
}
.footer .container .enlace-maps, .footer .piedepagina .enlace-maps {
  margin-left: -10px;
}
.footer .container .footer-info, .footer .piedepagina .footer-info {
  padding: 5px;
  margin-top: 20px;
}

/*Estilos Index*/
.encabezado-index {
  background-image: url(../imagenes/portadaindexshort.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

.logo-principal img {
  margin-top: 20px;
  width: 230px;
  height: 250px;
}

.texto-portada-principal img {
  margin-top: 140px;
  width: 450px;
  animation: aparecer 1.8s alternate-reverse;
}

@keyframes aparecer {
  to {
    width: 0px;
  }
}
.card, .card-body, .estilo-card {
  border: none;
  background-color: transparent;
  align-items: center;
}

.card, .card-body, .info {
  border: none;
  background-color: transparent;
  align-items: center;
}

.carousel-inner {
  margin: -40px 10px 50px 30px;
  width: 600px;
  height: 400px;
}

.video1, .video2 {
  margin: -45px 30px;
}

/*Estilos hoja E.M.M.A.C*/
.cuadro-edades-emmac {
  font-size: 0.9em;
  color: #1b5b76;
  margin-top: 10px;
  margin-bottom: 40px;
}

.filas-cuadro-emmac, .columnas-cuadro-edades {
  padding: 5px;
  border: #a0babf 0.5px solid;
  border-radius: 5px;
}
.filas-cuadro-emmac:hover, .columnas-cuadro-edades:hover {
  background-color: #204363;
  color: #f0f2f6;
}

.titulo-cuadro {
  text-decoration: underline;
}

.edades-emmac {
  align-content: center;
}

.edades-emmac-1 {
  background-color: #5b8e96;
  color: #f0f2f6;
}

/*Estilos logos de Profesorados y Torneos*/
.logos-profesorados, .logos-torneos {
  align-items: center;
  margin: 10px 0px -80px 170px;
  width: 150px;
  height: 250px;
  display: inline-block;
  animation: move 3s;
}

@keyframes move {
  from {
    width: 200px;
  }
}
/*Estilo galería nosotros*/
.titulo-galeria-nosotros {
  margin-top: -17px;
}

.img-galeria-nos:hover {
  width: 260px;
}

@media (min-width: 200px) and (max-width: 768px) {
  .logo-principal img {
    width: 160px;
    height: 190px;
    margin-left: 40px;
  }
  .encabezado-index {
    height: 220px;
  }
  .texto-portada-principal {
    display: none;
  }
  .menu-general {
    display: none;
  }
  .home, .home-text {
    text-align: center;
  }
  .cuadro-edades-emmac {
    font-size: 0.9em;
  }
  .logos-profesorados, .logos-torneos, .img {
    margin: 15px 10px -60px 10px;
    align-items: center;
    animation: move none;
  }
  .aerobics, .mantovani, .sanmiguel {
    margin-left: -40px;
  }
  .quality {
    width: 165px;
    margin-left: -20px;
  }
  .logos-torneos, .logo-campa {
    width: 200px;
    margin-top: -20px;
  }
  .carousel-inner {
    width: 420px;
    margin-bottom: -25px;
    margin-left: 15px;
  }
  .video1 {
    display: none;
  }
  .video2 {
    margin: 5px 110px 0px;
  }
  .enlace-maps {
    margin-bottom: 20px;
  }
  .social-bar {
    font-size: 0.9em;
  }
  .social-bar .icon {
    padding: 7px;
  }
}
.cuadro-edades-emmac {
  width: 350px;
  margin-left: -50px;
}

@media (min-width: 768px) and (max-width: 800px) {
  .texto-portada-principal {
    display: none;
  }
  .menu-general {
    display: none;
  }
  .home, .home-text {
    text-align: center;
  }
  .logos-profesorados, .logos-torneos, .img {
    margin: 15px 10px 10px 10px;
    align-items: center;
  }
  .aerobics, .mantovani, .sanmiguel {
    margin-left: -30px;
  }
  .carousel-inner {
    width: 620px;
    margin: 5px 50px 5px 65px;
  }
  .video1 {
    display: none;
  }
  .video2 {
    display: none;
  }
  .enlace-maps {
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1800px) {
  .menu-desplegable {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .enlace-maps {
    margin-right: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
