
*{
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.home-text,.info-emmac,.info-profesorados,.info-profesorados2,.info-torneos,.info-torneos2,.info-cus,.nuestroequipo-info,.info-viajes{
    margin: 20px 20px 10px 50px;
    padding: 20px;
    width: 1950px;
    overflow: hidden;  
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    color:rgba(36, 33, 33, 0.96)
}


h2{
    display: flex;
    margin-left: 20px;
    color: rgb(55, 80, 100);    
}

nav {
    position: sticky;
    margin-top: 0px;
    top:0px;
    z-index:10;
}

nav a:hover{
    color:#025D83;
}

nav ul{
    background-color: rgb(171, 210, 219); 
    display: flex;
    justify-content:center;

}
nav li{
    display: inline-block;
    padding: 20px;    
}

nav a{
    text-decoration: none;
    color: rgb(53, 68, 80);

}
.encabezado-otros{
    background-image: url(../imagenes/portada\ face.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px; 
    opacity: 0.7;

}
.encabezado-index{
    background-image: url(../imagenes/portadaindexshort.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px; 
}

.encabezado-index img{
    width: 300px;
    height: 300px;
}


.home{
    display: flex;
    background-color: rgb(226, 234, 239);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
}

.home-cus,.home-viajes,.home-emmac,.home-profesorados,.home-torneos{
    display: flex;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
}

.card,.card-body,.estilo-card{
    border: none;
    background-color: transparent;
    align-items: center;
}
.card,.card-body,.info{
    border: none;
    background-color: transparent;
    align-items: center;
}

.carousel-inner{
    margin: 20px 10px 40px 20px;
    width: 570px;
    height: 400px;
}

.video1,.video2{
    margin-top: 50px;
}


.social-bar{
    position: fixed;
    right: 0;
    top: 370px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2000;
}

.icon{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all .5s;
}

.icon-facebook2{
    background-color: #097DE9;
    border-radius: 8px 0 0 0;

}

.icon-instagram{
    background-color: #E31234;
}

.icon-whatsapp{
    background-color:#148E0B;
    border-radius:  0 0 0 10px;
}


.icon:hover{
    padding-right: 3rem;
    border-radius: 10px 0 0 10px;

}


.footer{
    background-color: rgb(171, 210, 219);
    display: flex;
    padding: 10px;
}

.enlace-maps{
    margin: 20px 0 0 -50px;
}

.container,.piedepagina{
    align-items: center;
}


.contacto1,.contacto2{
    margin: 20px 40px 60px 140px;
    line-height: 30px;
    color: rgb(53, 68, 80);  
    text-align: center;

}

/*.imagen-edades{
    margin-left: 200px;
}*/


.logos-profesorados{
    margin: 0px 0px 0px 150px;
    width: 1050px;
    height: 250px;
    padding: px;
    display: inline-block;

}

.logo-ipef,.logo-aerobics,.logo-quality,.logo-iacc,.logo-mantovani,.logo-sanmiguel,.logo-campa,.logo-ucfa,.logo-pro,.logo-esquiu,.logo-golden,.logo-torneoimperial{

    padding: 10px;
    display: inline-flex;
}

.logos-torneos{
    margin: 0px 0px 0px 100px;
    width: 1150px;
    height: 250px;
    padding: 10px;
    display: inline-block;
}


.container,.galeria-nosotros,.row,.col,.img{
       align-items: center;
}


@media (min-width: 300px) and (max-width:800px) {
   nav a{
    display: none;
   }

}
