/*Estilos generales*/
h1{
    color: $color-titulos-principales;
    font-size: $tamano-titulos-principales;
    &:hover{
        color: #3e697b;
        text-decoration: underline rgb(100, 127, 137);
    }
    }
    
h2{
    color: $color-titulos-h2;
    font-size: $tamano-titulos-h2;
    &:hover{
        color: #3e697b;
        text-decoration: underline rgb(137, 153, 159);
    }
}

nav {
    font-size: $tamano-textos-principales;
    position: sticky;
    top:0px;
    z-index:10;
    
        a:hover{
            color: #345157;
            border-bottom:rgb(225, 232, 239) 1px solid;
            
        }
    
        ul{
            background-color: rgb(171, 210, 219); 
            display: flex;
            justify-content:center;
    
            li{
                display: inline-block;
                padding: 20px;   
                
                    a{
                text-decoration: none;
                color: rgb(49, 79, 104);
            }
        }
    
        }
    
    }
    
    .menu-desplegable,.btn-group,.btn,.btn-secondary,.dropdown-toggle{
        font-size: 1em;
        background-color: rgb(87, 144, 157); 
        border: 0.5px solid;
        border-radius: 1px;
        border-color: rgb(101, 160, 160); }

        .dropdown-item{
            font-size: 0.9em;
            margin: 0px 5px 5px 0px;
            background-color: #eaf6f7;
            padding: 0px;
                        .a .b{
                align-items: center;
            }
        }

    .home-text{
        margin: 0px 20px 10px 50px;
        padding: 50px;
        overflow: hidden;  
        font-family: Helvetica, sans-serif;
        font-size: $tamano-textos-principales;
        color:$color-textos-principales
    }
    
    .encabezado-otros{
        background-image: $encabezado-varios;
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; 
        opacity: 0.7;
    }
    
    .home{
        display: flex;
        background-image: $background-general;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -20px;
    }
    
    
    .home-cus,.home-viajes,.home-emmac,.home-profesorados,.home-torneos{
        background-image: $background-general;
        display: flex;
        margin-top: -20px;
    }

    .social-bar{
        position:fixed;
        right: 0;
        top: 380px;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: index 1;
    
        .icon{
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 10px;
            transition: all .8s
        }
        .icon-facebook2{
            background-color: #097DE9;
            border-radius: 8px 0 0 0;
        }
    
        .icon-instagram{
            background-color: #E31234;
        }
    
        .icon-whatsapp{
            background-color:#148E0B;
            border-radius:  0 0 0 10px;
        }
    
        .icon:hover{
            padding-right: 3rem;
            border-radius: 10px 0 0 10px;
        }
    
    }

        .volver .volver1{
            color: $color-titulos-principales;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 7px;

            &:hover{
                font-size: 1.1em;
                color: #14778d;            
                
            }
        }

    
        .footer{
        background-color:$background-color;
        display: flex;
        padding: 15px;  

            .container,.piedepagina{
            margin-top: 20px;
            color: $color-titulos-h2;

            .enlace-maps{
                margin-left: -10px;
            }

            .footer-info{
                padding: 5px;
                margin-top: 20px;
            }
            }
        }

        /*Estilos Index*/

        .encabezado-index{
            background-image: $encabezado-principal;
            background-repeat: no-repeat;
            background-size: cover;
            height: 280px; 
    }

        .logo-principal img{
            margin-top: 20px;
            width: 230px;
            height: 250px;
        }

        .texto-portada-principal img{
            margin-top: 140px;
            width: 450px;
            animation: aparecer 1.8s alternate-reverse;
        }
        
        @keyframes aparecer {
                to{width: 0px;}       
        }

        .card,.card-body,.estilo-card{
            border: none;
            background-color: transparent;
            align-items: center;
        }
        
        .card,.card-body,.info{
            border: none;
            background-color: transparent;
            align-items: center;
        }
        
        .carousel-inner{
            margin: -40px 10px 50px 30px;
            width: 600px;
            height: 400px;
        }
        
        .video1,.video2{
            margin: -45px 30px;        
        }


        /*Estilos hoja E.M.M.A.C*/

        .cuadro-edades-emmac{
            font-size: 0.9em;
            color: #1b5b76;
            margin-top: 10px;
            margin-bottom: 40px;
        }

        .filas-cuadro-emmac, .columnas-cuadro-edades{
            padding: 5px;
            border: #a0babf 0.5px solid;
            border-radius: 5px;
            &:hover{
                background-color: #204363;
                color: #f0f2f6;
            }
        }
        .titulo-cuadro{
            text-decoration: underline;

        }
        .edades-emmac{
            align-content: center;
        }

        .edades-emmac-1{
            background-color: #5b8e96;
            color: #f0f2f6;
        }



        /*Estilos logos de Profesorados y Torneos*/
        .logos-profesorados,.logos-torneos{
        align-items: center;
        margin: 10px 0px -80px 170px;
        width: 150px;
        height: 250px;
        display: inline-block;
        animation: move 3s;
        }
        @keyframes move{
            from{
                width: 200px;
            }
        
        }

        /*Estilo galería nosotros*/
.titulo-galeria-nosotros{
    margin-top: -17px;
}
.img-galeria-nos:hover{
        width: 260px;
}











