/*Estilos generales*/
h1{
    color: $color-titulos-principales;
    font-size: $tamano-titulos-principales;
    text-decoration:underline;
    }
    
h2{
    color: $color-titulos-h2;
    font-size: $tamano-titulos-h2;
    text-decoration:underline;
}


nav {
    font-size: $tamano-textos-principales;
    position: sticky;
    top:0px;
    z-index:10;
    
        a:hover{
            color: #345157;
            border-bottom:rgb(225, 232, 239) 1px solid;
            
        }
    
        ul{
            background-color: rgb(171, 210, 219); 
            display: flex;
            justify-content:center;
    
            li{
                display: inline-block;
                padding: 20px;   
                
                    a{
                text-decoration: none;
                color: rgb(53, 68, 80);
            }
        }
    
        }
    
    }
    
    .menu-desplegable,.btn-group,.btn,.btn-secondary,.dropdown-toggle{
        background-color: rgb(87, 144, 157); 
        border: 0.5px solid;
        border-radius: 1px;
        border-color: rgb(101, 160, 160);
    }
        
    .dropdown-toggle, .btn{
        color: #ffffff;
    }
    
        
    .home-text{
        margin: 20px 20px 10px 50px;
        padding: 20px;
        overflow: hidden;  
        font-family: Helvetica, sans-serif;
        font-size: $tamano-textos-principales;
        color:$color-textos-principales
    }
    
    .encabezado-otros{
        background-image: $encabezado-varios;
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; 
        opacity: 0.7;
    }
    
    .home{
        display: flex;
        background-image: $background-general;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -20px;
    }
    
    
    .home-cus,.home-viajes,.home-emmac,.home-profesorados,.home-torneos{
        background-image: $background-general;
        display: flex;
        margin-top: -20px;
    }

    .social-bar{
        position:fixed;
        right: 0;
        top: 350px;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index:200;
    
        .icon{
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 10px;
            transition: all .8s
        }
        .icon-facebook2{
            background-color: #097DE9;
            border-radius: 8px 0 0 0;
        }
    
        .icon-instagram{
            background-color: #E31234;
        }
    
        .icon-whatsapp{
            background-color:#148E0B;
            border-radius:  0 0 0 10px;
        }
    
        .icon:hover{
            padding-right: 3rem;
            border-radius: 10px 0 0 10px;
        }
    
    }
    
        .footer{
        background-color:$background-color;
        display: flex;
        padding: 20px;  

            .container,.piedepagina{
            align-items: center;
            margin-top: 20px;
                
            &p{
                color: $color-titulos-h2;
            }
        }
    }

    .volver:hover{
            color: #1a849c;
            border-bottom:rgb(239, 225, 236) 1px solid;
        }
    

        /*Estilos Index*/

        .encabezado-index{
            background-image: $encabezado-principal;
            background-repeat: no-repeat;
            background-size: cover;
            height: 280px; 
    }

        .logo-principal img{
            width: 320px;
            height: 320px;
        }

        .texto-portada-principal img{
            margin-top: 140px;
            width: 450px;
            animation: aparecer 1.8s alternate-reverse;
        }
        
        @keyframes aparecer {
                to{width: 0px;}       
        }

        .card,.card-body,.estilo-card{
            border: none;
            background-color: transparent;
            align-items: center;
        }
        
        .card,.card-body,.info{
            border: none;
            background-color: transparent;
            align-items: center;
        }
        
        .carousel-inner{
            margin: 20px 10px 40px 10px;
            padding: 5px;
            width: 570px;
            height: 400px;
        }
        
        .video1,.video2{
            margin-top: 0px;
        
        
        }
        /*Estilos logos de Profesorados y Torneos*/
        .logos-profesorados,.logos-torneos{
        align-items: center;
        margin: 10px 0px -80px 170px;
        width: 150px;
        height: 250px;
        display: inline-block;
        animation: move 3s;
        }
        @keyframes move{
            from{
                width: 200px;
            }
        
        }

        /*Estilo galería nosotros*/

.galeria-nosotros, .row{
    margin-top: 15px;

    .img-galeria-nos:hover{
        
        width: 270px;

    }

}










