@media (min-width: 200px) and (max-width:768px) {

    .texto-portada-principal{
        display: none;
    }

    .menu-general{
    display: none;
    }
    
    .home, .home-text {
        text-align: center;
    }

    .logos-profesorados,.logos-torneos,.img{
    margin: 15px 10px 10px 10px;
    align-items: center;
    animation: move none;

}

    .aerobics,.mantovani,.sanmiguel{
    margin-left: -30px;

    }

    .carousel-inner{
        width: 430px;
        margin-bottom: 5px;
    }

    .video1{
        display: none;
    }
    
    .video2{
        margin: 5px 100px 20px 20px; 
    }

    .enlace-maps{
        margin-bottom: 20px;
}
}

@media (min-width: 768px) and (max-width:800px){

    .texto-portada-principal{
        display: none;
    }

    .menu-general{
        display: none;
    }
    
    .home, .home-text {
        text-align: center;
    }
    
    .logos-profesorados,.logos-torneos,.img{
        margin: 15px 10px 10px 10px;
        align-items: center;
    }
    
        .aerobics,.mantovani,.sanmiguel{
        margin-left: -30px;
    
    }

    .carousel-inner{
        width: 620px;
        margin: 5px 50px 5px 65px;
    }

    .video1{
        display: none;
    }
    
    .video2{
        display: none; 
    }

    .enlace-maps{
        margin-bottom: 20px;
}

}

@media (min-width: 800px) and (max-width:1400px) {
    .menu-desplegable{
            display: none;
    }

}


@media (min-width: 1000px) and (max-width:1400px) {
    .enlace-maps{
            margin-right: 30px;
    }

}
