@media (min-width: 200px) and (max-width:768px) {

    .logo-principal img{
        width: 160px;
        height: 190px;
        margin-left: 40px;
    }

    .encabezado-index{
        height: 220px; 
    }

    .texto-portada-principal{
        display: none;
    }

    .menu-general{
    display: none;
    }
    
    .home, .home-text {
        text-align: center;
    }

    .cuadro-edades-emmac{
        font-size: 0.9em;
    }

    .logos-profesorados,.logos-torneos,.img{
    margin: 15px 10px -60px 10px;
    align-items: center;
    animation: move none;
}

    .aerobics,.mantovani,.sanmiguel{
    margin-left: -40px;
    }

    .quality{
        width: 165px;
        margin-left: -20px;
    }

    .logos-torneos, .logo-campa{
        width: 200px;
        margin-top: -20px;
    }

    .carousel-inner{
        width: 420px;
        margin-bottom: -25px;
        margin-left: 15px;
    }

    



    .video1{
        display: none;
    }
    
    .video2{
        margin: 5px 110px 0px; 
    }

    .enlace-maps{
        margin-bottom: 20px;
}

    .social-bar{
        font-size: 0.9em;
        .icon{
            padding: 7px;
            }
    }

}


@media (min-width: 768px) and (max-width:800px){

    .texto-portada-principal{
        display: none;
    }

    .menu-general{
        display: none;
    }
    
    .home, .home-text {
        text-align: center;
    }
    
    .logos-profesorados,.logos-torneos,.img{
        margin: 15px 10px 10px 10px;
        align-items: center;
    }
    
        .aerobics,.mantovani,.sanmiguel{
        margin-left: -30px;
    
    }

    .carousel-inner{
        width: 620px;
        margin: 5px 50px 5px 65px;
    }

    .video1{
        display: none;
    }
    
    .video2{
        display: none; 
    }

    .enlace-maps{
        margin-bottom: 20px;
}

}

@media (min-width: 800px) and (max-width:1800px) {
    .menu-desplegable{
            display: none;
    }

}


@media (min-width: 1000px) and (max-width:1400px) {
    .enlace-maps{
            margin-right: 30px;
    }

}
