/*tamaño*/
$tamano-titulos-principales: 1.4em;
$tamano-titulos-h2: 1.2em;
$tamano-textos-principales: 1.2em;

/*color*/
$color-titulos-principales: rgb(33, 62, 86);
$color-titulos-h2:rgb(63, 78, 90);
$color-textos-principales: rgba(33, 39, 61, 0.96);

/*encabezados*/
$encabezado-varios: url(../imagenes/portadaface.jpg);
$encabezado-principal: url(../imagenes/portadaindexshort.png);

/*backgrounds*/
$background-general: linear-gradient(to bottom, rgb(201, 225, 233), rgb(255, 255, 255));
$background-color: rgb(171, 210, 219);
