/*tamaño*/
$tamano-titulos-principales: 1.8em;

/*color*/
$color-titulos-principales: rgb(55, 80, 100);
$color-textos-principales: rgba(45, 43, 43, 0.96);

/*encabezados*/
$encabezado-varios: url(../imagenes/portadaface.jpg);
$encabezado-principal: url(../imagenes/portadaindexshort.png);

/*backgrounds*/
$background-general: linear-gradient(to bottom, rgb(201, 225, 233), rgb(255, 255, 255));
$background-color: rgb(171, 210, 219);